<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show me the Money</title>
    <link rel="stylesheet" href="../static/css/statics.css" />
  </head>
  <body>
    <div class="layout">
      <div class="date-header">
        <div class="prev btn">◀</div>
        <h2 class="date"></h2>
        <div class="next btn">▶</div>
      </div>
      <div class="division">
        <input
          type="radio"
          name="division"
          value="expense"
          id="expense"
          checked="checked"
        />
        <label for="expense" class="expense-label">지출</label>
        <input type="radio" name="division" value="income" id="income" />
        <label for="income" class="income-label">수입</label>
      </div>
      <canvas id="myChart"></canvas>
      <div class="total-amount_div">
        <div>전체</div>
        <div class="total-amount"></div>
      </div>
      <div class="legend"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/js/statics.js"></script>
  </body>
</html>
