:root {
  --expensecolor: #e16f63;
  --incomecolor: #5fbb82;
}

@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "omyu_pretty";
  font-size: 19px;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 926px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fafaf9;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  position: relative;
}

.logout-btn {
  width: 30px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/992/992680.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e6e6e6;
}

.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calendar-page {
  background-color: #f3cdcc;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15.5px;

  width: 50px;
  height: 25px;
  border: 1px solid #f3cdcc;

  cursor: pointer;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.calendar {
  width: 400px;
  margin: 10px auto;
  font-size: 17px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.btn {
  cursor: pointer;
}

.sum-div {
  margin: 10px 0;
}

.sum-div > div {
  margin-bottom: 5px;
}

.income,
.expense,
.total {
  margin-left: 10px;
}

.income {
  color: var(--incomecolor);
}

.expense {
  color: var(--expensecolor);
}

.day {
  text-align: center;
  margin-top: 10px;
}
.date,
.empty {
  aspect-ratio: 1;
}

.date {
  cursor: pointer;
  padding: 3px;
  overflow: hidden;
}

.date:hover {
  border: 1px solid #bebfc0;
}

.selected-date {
  background-color: #e6e6e6;
}

.daily-expense {
  font-size: 15px;
  color: var(--expensecolor);
  padding-left: 2px;
}

.daily-income {
  font-size: 15px;
  color: var(--incomecolor);
  padding-left: 2px;
}

.write-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: black;
  text-decoration: none;
}

.transactions {
  flex-grow: 1;
  overflow: auto;
}

.transactions::-webkit-scrollbar {
  width: 3px;
}

.transactions::-webkit-scrollbar-track {
  background-color: #fafaf9;
}
.transactions::-webkit-scrollbar-thumb {
  background-color: #b6b7bb;
  border-radius: 1.5px;
}
.transactions::-webkit-scrollbar-button {
  display: none;
}

.transaction-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.write-btn,
.transaction-div {
  background-color: white;
  width: 100%;
  height: 80px;
  padding: 15px 15px;
  margin-bottom: 5px;
  border: 1.3px solid #e6e6e6;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
}

.transaction-div:hover,
.write-btn:hover {
  background-color: #f0f3f4;
}

.transaction-category {
  font-size: 22px;
}

.transaction-memo {
  color: #a0a1a6;
  font-size: 17px;
  margin-top: 3px;
}

.transaction-money {
  font-size: 25px;
}
